In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname = "C:/Windows/Fonts/malgun.ttf").get_name()
plt.rc("font", family= font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"] = False

In [2]:
OTT = pd.read_excel("data/가장많이이용하는OTT서비스(20-21).xlsx", header=[0,1], index_col=[0,1])
OTT

C:\Users\gyeoa\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

구분별(2)        2020                                                         \
구분별(2)     사례수 (명) TV 방송 프로그램 (VOD/다시보기) (%) 해외 TV 방송 프로그램 (%) 실시간 TV (%)
전체 소계       7434.0                      57.0               5.3       24.5
성별 남        3872.0                      54.9               5.5       24.9
   여        3562.0                      59.2               4.9       24.0
연령 만10대미만    173.0                      24.9               0.0       12.3
   만10-19세   825.0                      48.6               2.6       18.3
   만20-29세  1378.0                      62.6               8.7       27.1
   만30-39세  1420.0                      57.8               7.5       32.1
   만40-49세  1481.0                      64.9               5.4       25.2
   만50-59세  1373.0                      55.3               3.3       21.4
   만60-69세   666.0                      49.9               2.1       19.2
   만70세이상    119.0                      46.9               3.0       19.5

구분별(2)                                                                        \
구분별(2)     영화 (%) OTT 사업자 자체 제작 프로그램(넷플릭스 오리지널 등) (%) 예능/오락(개인방송 콘텐츠 포함) (%)
전체 소계        22.3                                19.8                   73.1
성별 남         23.9                                20.4                   75.2
   여         20.6                                19.1                   70.8
연령 만10대미만     3.2                                 9.7                   85.7
   만10-19세   15.9                                12.9                   79.6
   만20-29세   34.8                                23.9                   73.7
   만30-39세   30.6                                28.2                   69.6
   만40-49세   23.6                                19.4                   69.2
   만50-59세   14.8                                16.8                   73.9
   만60-69세    7.9                                12.9                   74.4
   만70세이상     3.5                                10.3                   76.0

구분별(2)                      2021                                        \
구분별(2)     음악 (%) 기타 (%) 사례수 (명) 영화 (%) 예능/오락(개인방송 콘텐츠 포함) (%) 드라마 (%)
전체 소계        32.1    0.3  8293.7   38.5                   80.5    47.0
성별 남         30.3    0.4  4283.5   37.4                   78.6    33.2
   여         34.1    0.3  4010.2   39.8                   82.5    61.7
연령 만10대미만    19.8    1.0   174.5    8.1                   71.3     7.1
   만10-19세   40.4    0.9   880.1   30.7                   88.8    31.1
   만20-29세   34.1    0.3  1381.4   61.5                   88.7    57.0
   만30-39세   30.8    0.1  1390.1   46.9                   86.4    53.2
   만40-49세   32.0    0.4  1585.9   45.1                   79.8    52.7
   만50-59세   30.0    0.3  1580.6   29.8                   75.2    45.8
   만60-69세   31.5    0.2  1025.7   18.1                   69.6    42.7
   만70세이상    15.2    0.0   275.5   13.5                   64.2    31.5

구분별(2)
구분별(2)     교양/다큐멘터리 (%) 교육/학습 (%) 애니메이션(만화) (%) 스포츠 (%) 뉴스 (%) 기타 (%)
전체 소계              19.6       9.2          10.2    23.4   25.8    2.0
성별 남               20.6       8.4           9.3    39.9   29.7    1.7
   여               18.6      10.1          11.2     5.8   21.6    2.2
연령 만10대미만           9.3      41.8          72.9     0.3    0.9    0.0
   만10-19세         12.4      36.1          39.1     9.9    5.1    1.6
   만20-29세         19.9       8.9          10.5    22.7   11.3    0.9
   만30-39세         19.1       5.9           8.6    29.9   21.1    1.8
   만40-49세         18.6       4.7           4.6    26.8   29.5    1.7
   만50-59세         21.4       4.3           1.5    28.3   36.1    2.6
   만60-69세         25.4       1.9           1.0    20.7   45.5    2.9
   만70세이상          25.6       3.2           1.4    15.3   48.9    4.3

In [3]:
OTT.columns =[["2020","2020","2020","2020","2020","2020","2020","2020","2020","2021","2021","2021","2021","2021","2021","2021","2021","2021","2021"], ["사례수","국내TV", "해외TV", "실시간TV", "영화", "OTT자체제작", "개인방송(예능/오락)", "음악", "기타","사례수", "영화", "개인방송(예능/오락)", "드라마","교양/다큐","교육/학습","애니메이션","스포츠","뉴스","기타"]]

In [4]:
OTT

              2020                                                        \
               사례수  국내TV 해외TV 실시간TV    영화 OTT자체제작 개인방송(예능/오락)    음악   기타
전체 소계       7434.0  57.0  5.3  24.5  22.3    19.8        73.1  32.1  0.3
성별 남        3872.0  54.9  5.5  24.9  23.9    20.4        75.2  30.3  0.4
   여        3562.0  59.2  4.9  24.0  20.6    19.1        70.8  34.1  0.3
연령 만10대미만    173.0  24.9  0.0  12.3   3.2     9.7        85.7  19.8  1.0
   만10-19세   825.0  48.6  2.6  18.3  15.9    12.9        79.6  40.4  0.9
   만20-29세  1378.0  62.6  8.7  27.1  34.8    23.9        73.7  34.1  0.3
   만30-39세  1420.0  57.8  7.5  32.1  30.6    28.2        69.6  30.8  0.1
   만40-49세  1481.0  64.9  5.4  25.2  23.6    19.4        69.2  32.0  0.4
   만50-59세  1373.0  55.3  3.3  21.4  14.8    16.8        73.9  30.0  0.3
   만60-69세   666.0  49.9  2.1  19.2   7.9    12.9        74.4  31.5  0.2
   만70세이상    119.0  46.9  3.0  19.5   3.5    10.3        76.0  15.2  0.0

              2021
               사례수    영화 개인방송(예능/오락)   드라마 교양/다큐 교육/학습 애니메이션   스포츠    뉴스   기타
전체 소계       8293.7  38.5        80.5  47.0  19.6   9.2  10.2  23.4  25.8  2.0
성별 남        4283.5  37.4        78.6  33.2  20.6   8.4   9.3  39.9  29.7  1.7
   여        4010.2  39.8        82.5  61.7  18.6  10.1  11.2   5.8  21.6  2.2
연령 만10대미만    174.5   8.1        71.3   7.1   9.3  41.8  72.9   0.3   0.9  0.0
   만10-19세   880.1  30.7        88.8  31.1  12.4  36.1  39.1   9.9   5.1  1.6
   만20-29세  1381.4  61.5        88.7  57.0  19.9   8.9  10.5  22.7  11.3  0.9
   만30-39세  1390.1  46.9        86.4  53.2  19.1   5.9   8.6  29.9  21.1  1.8
   만40-49세  1585.9  45.1        79.8  52.7  18.6   4.7   4.6  26.8  29.5  1.7
   만50-59세  1580.6  29.8        75.2  45.8  21.4   4.3   1.5  28.3  36.1  2.6
   만60-69세  1025.7  18.1        69.6  42.7  25.4   1.9   1.0  20.7  45.5  2.9
   만70세이상    275.5  13.5        64.2  31.5  25.6   3.2   1.4  15.3  48.9  4.3

In [5]:
twooTV = OTT["2020"]["국내TV"] + OTT["2020"]["해외TV"]+OTT["2020"]["실시간TV"]

In [6]:
twotwoTV = OTT["2021"]["드라마"] + OTT["2021"]["교양/다큐"]+OTT["2021"]["교육/학습"]

In [7]:
twooTV

전체  소계         86.8
성별  남          85.3
    여          88.1
연령  만10대미만     37.2
    만10-19세    69.5
    만20-29세    98.4
    만30-39세    97.4
    만40-49세    95.5
    만50-59세    80.0
    만60-69세    71.2
    만70세이상     69.4
dtype: float64

In [8]:
TV = pd.DataFrame([twooTV, twotwoTV], index=["2020","2021"]).T

In [9]:
TV

            2020  2021
전체 소계       86.8  75.8
성별 남        85.3  62.2
   여        88.1  90.4
연령 만10대미만   37.2  58.2
   만10-19세  69.5  79.6
   만20-29세  98.4  85.8
   만30-39세  97.4  78.2
   만40-49세  95.5  76.0
   만50-59세  80.0  71.5
   만60-69세  71.2  70.0
   만70세이상   69.4  60.3

In [10]:
movie = pd.DataFrame([OTT["2020"]["영화"], OTT["2021"]["영화"]], index=["2020","2021"]).T

In [11]:
movie

            2020  2021
전체 소계       22.3  38.5
성별 남        23.9  37.4
   여        20.6  39.8
연령 만10대미만    3.2   8.1
   만10-19세  15.9  30.7
   만20-29세  34.8  61.5
   만30-39세  30.6  46.9
   만40-49세  23.6  45.1
   만50-59세  14.8  29.8
   만60-69세   7.9  18.1
   만70세이상    3.5  13.5

In [12]:
TV

            2020  2021
전체 소계       86.8  75.8
성별 남        85.3  62.2
   여        88.1  90.4
연령 만10대미만   37.2  58.2
   만10-19세  69.5  79.6
   만20-29세  98.4  85.8
   만30-39세  97.4  78.2
   만40-49세  95.5  76.0
   만50-59세  80.0  71.5
   만60-69세  71.2  70.0
   만70세이상   69.4  60.3

In [13]:
개인방송 = pd.DataFrame([OTT["2020"]["개인방송(예능/오락)"], OTT["2021"]["개인방송(예능/오락)"]], index=["2020","2021"]).T

In [14]:
개인방송

            2020  2021
전체 소계       73.1  80.5
성별 남        75.2  78.6
   여        70.8  82.5
연령 만10대미만   85.7  71.3
   만10-19세  79.6  88.8
   만20-29세  73.7  88.7
   만30-39세  69.6  86.4
   만40-49세  69.2  79.8
   만50-59세  73.9  75.2
   만60-69세  74.4  69.6
   만70세이상   76.0  64.2